<%=form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger"
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :name, "氏名" %><br>
    <%= f.text_field :name, :size=>"60" %>
  </p>
 
  <p>
    <%= f.label :body, "内容" %><br>
    <%= f.text_area :body, :size=>"60" %>
  </p>
    
  <p>
    <%= f.label :body, "年齢" %>
    <%=f .text_field :age, :size=>"5" %>
  </p>
  
  <%=f .submit class: "btn btn-sm btn-warning" %>

<% end %>
